.jumbotron
{
    background-color: #153449;
}

.jumbotron h1
{
    color: #fff;
}

body
{
    background-color: whitesmoke;
}

img
{
    width: calc(100% - 20px);
    height: 250px;
    margin: 10px;
}

.NewsGrid
{
    margin: 15px;
    border: 1px solid lightblue;
    padding: 10px;
}

.container-fluid
{
    width: 90%;
}